.WindowContainer {
  width: 100%;
  height: 85%;
  display: flex;
}

.NavbarContainer {
  width: 100%;
  height: 15%;
}

.MainContainer {
  width: 100%;
  height: 100vh;
  background-color: aliceblue;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.LeftWindow {
  width: 50%;
  height: 100%;
  box-shadow: 6px 0 8px -2px rgba(0, 0, 0, 0.2);
}

.RightWindow {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
