.Card {
  width: 80%;
  height: 50px;
  margin: 5% auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: 1px solid rgba(128, 128, 128, 0.744);
  border-radius: 20px;
  background-color: rgba(202, 202, 202, 0.556);
  display: flex;
  align-items: center;
  justify-content: space-between;
  h1 {
    margin: 10px 20px;
    font-size: 120%;
    color: rgb(59, 59, 161);
  }
  div {
    display: flex;
    justify-content: space-evenly;
    width: 40%;
    margin: 1% 3%;
  }
}
