<div class="SearchWindowOptions">
  <ng-container *ngFor="let elem of windowsKeys; let i = index">
    <div
      class="SearchWindow"
      (click)="selectedMode(i)"
      [ngClass]="{ selected: selectedWindow === i }"
    >
      <div
        *ngIf="elem === 'InProgress' && inProgressDataCount > 0"
        id="_count_"
      >
        {{ inProgressDataCount }}
      </div>
      {{ elem }}
    </div>
  </ng-container>
</div>
<ng-container [ngSwitch]="selectedWindow">
  <div class="SearchWindowResults" *ngSwitchCase="0">
    <div class="SearchInput">
      <div class="input-icon-container">
        <input
          type="text"
          name=""
          id="_input_"
          placeholder="Search by Country / City..."
          [(ngModel)]="searchTerm"
        />
        <i class="material-icons">search</i>
      </div>
    </div>
    <div class="SearchOptions">
      <ng-container
        *ngFor="
          let country of myCountryList
            | filter : searchTerm : ['country', 'capital']
        "
      >
        <app-country [countryData]="country"></app-country>
      </ng-container>
    </div>
  </div>
  <div class="ProgressWindow" *ngSwitchCase="1">
    <app-progress-window></app-progress-window>
  </div>

  <div class="BookedWindow" *ngSwitchCase="2">
    <app-blocked-window></app-blocked-window>
  </div>
</ng-container>
